<section class="landing-section flex">
  <div class="landing-content flex">
    <h1>Share Your Trek Tales</h1>
    <div class="saying flex">
      <h3>"The mountains are calling and I must go"</h3>
      <p>- John Muir</p>
    </div>
    <p class="description">
      Discover incredible trekking adventures from fellow mountain enthusiasts
      across Nepal's majestic Himalayas.
    </p>
  </div>
</section>
<section class="stats-section container">
  <div class="stats flex">
    <div class="stat flex">
      <i class="fa-solid fa-arrow-trend-up"></i>
      <div class="content">
        <h2 [appCountUp]="300"></h2>
        Trek Stories
      </div>
    </div>

    <div class="stat flex">
      <i class="fa-solid fa-location-dot"></i>
      <div class="content">
        <h2 [appCountUp]="50"></h2>
        Trek Routes
      </div>
    </div>

    <div class="stat flex">
      <i class="fa-solid fa-users"></i>
      <div class="content">
        <h2 [appCountUp]="1000"></h2>
        Trekkers
      </div>
    </div>
  </div>
</section>
