<nav>
  <div class="container flex">
    <a href="#" class="company-logo">
      <img src="assets/logo.png" alt="Company Logo" width="250px" />
    </a>
    <div class="nav-links">
      <ul class="flex small-text">
        <li class="link">Home</li>
        <li class="link">All Treks</li>
        <li class="link">Region</li>
        <li class="link">About</li>
      </ul>
    </div>
    <div class="search-bar flex">
      <i class="fa-solid fa-magnifying-glass icons"></i>
      <input id="search" type="text" placeholder="Search treks..." />
    </div>
    <div class="button-group flex">
      <div class="share-btn primary-btn flex">
        <i class="fa-solid fa-pen-nib"></i>
        <span>Share Trek</span>
      </div>
      <div class="login-info secondary-btn">Sign In</div>
    </div>
  </div>
</nav>
